.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 100%;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    height: 48px !important;
    border-radius: 6px !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    font-size: 14px !important;
    line-height: 14px !important;
}