:root{
  --color-1: rgb(212, 212, 212);
  --color-2: #52a7fb;
  --color-3: rgb(245 245 245);
  --color-4: green;
  --color-5: #ff9999;
  --color-6: rgb(239 239 239);

  --font: sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
#root,
body{
  height: 100%;
}